{
    "root": true,
    "extends": [
      "airbnb",
      "plugin:flowtype/recommended"
    ],
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "flowtype"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "arrow-parens": 0,
        "import/no-extraneous-dependencies": [
           "error", {"devDependencies": ["**/*-test.js"]}
        ],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/prefer-default-export": 0,
        "react/sort-comp": ["error", {
            "order": [
                "type-annotations",
                "static-methods",
                "lifecycle",
                "/^on.+$/",
                "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
                "everything-else",
                "/^render.+$/",
                "render"
            ],
        }]
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        },
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js",
            }
        }
    },
}
